.image-container7 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 100vh; 
    padding: 5px; 
}
.middle-images {
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
}
.image-container7 > img, .middle-images img {
    width: 440px; 
    height: auto; 
    margin: 0 10px; 
}
.middle-images img {
    width: 300px; 
    height: auto; 
}
